<div class="short-answer-edit">
    <div class="wrapper-comp-settings is-active editor-with-buttons">
        <ul class="list-input settings-list">
            <li class="field comp-setting-entry metadata_entry">
            {% for field, value, inputtype, datatype in fields %}
            <li class="field comp-setting-entry metadata_entry">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label"
                    for="{{ field.name }}-input">{{ field.display_name }}</label>
                    {% if inputtype == 'input' %}
                        <input class="input setting-input" type="{{ datatype }}"
                            id="{{ field.name }}-input"
                            name="{{ field.name }}"
                            value="{{ value }}"/>
                    {% elif inputtype == 'textarea' %}
                        <textarea class="input setting-input"
                            rows="5"
                            id="{{ field.name }}-input"
                            name="{{ field.name }}">{{ value }}</textarea>
                    {% endif %}
                </div>
                <span class="tip setting-help">{{ field.help }}</span>
            </li>
            {% endfor %}
        </ul>
        <div class="xblock-actions">
        <span class="xblock-editor-error-message"></span>
          <ul>
            <li class="action-item">
              <button class="button action-primary save-button">Save</button>
            </li>

            <li class="action-item">
              <button class="button cancel-button">Cancel</button>
            </li>
          </ul>
        </div>
    </div>
</div>
