/* CSS for ShortAnswerXBlock */
.action-buttons,
.submit-grade-form {
    width: 200px;
}

.hidden {
    display: none;
}

.short-answer-block textarea {
    width: 500px;
    height: 130px;
}

.feedback {
    color: #166e36;
}
.error,
.modal-error {
    color: #c13840;
}

.modal-error {
    display: block;
    width: 900px;
    margin: 0 auto;
}

.short-answer-block .instructor-info-action:hover {
    color: #fff!important;
}

.short-answer-block .modal {
    position: fixed;
    z-index: 100;
    display: none;
    width: 80%;
    height: 75%;
    overflow: hidden;
    left: 10% !important; /* important is necessary to override modal JS styling */
    margin-left: 0 !important; /* important is necessary to override modal JS styling */
}

.short-answer-block .modal .inner-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0px !important;
}

.short-answer-block .modal header {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 900px;
}

.short-answer-block .modal header title {
    display: inline-block;
    float: left;
}

.short-answer-block .modal header form {
    padding: 0;
}

.short-answer-block .modal header form button {
    font-size: 13px;
}

.short-answer-block .modal .csv-download {
    display: inline-block;
    float: right;
}

.short-answer-block .modal header::before {
    background-image: none!important;
}

.short-answer-block .modal table {
    margin: 0 auto;
    width: 900px;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

.short-answer-block .modal table th {
    border-width: 1px;
    padding: 8px 20px 8px 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.short-answer-block .modal table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.short-answer-block .action-cell {
    text-align: center;
}

.short-answer-block .modal table button {
    padding: 7px 15px;
    width: 94px;
}

.short-answer-block .modal table button[name="toggle-answer"] {
    display: block;
    margin: 0 auto;
}

.short-answer-block .modal table input[name="score-input"] {
    width: 50px;
}

.short-answer-block .modal table .score-column {
    width: 55px;
}

.short-answer-block .modal table .answer {
    display: block;
    width: 195px;
}

.short-answer-block .modal table .answer-column {
    width: 200px;
}

.short-answer-block .modal table span.no-answer {
    font-style: italic;
}

.grades-published {
    margin: 5px auto 0;
    width: 900px;
}
